<div class="all_projects">
  <div class="left">
    <div class="card">
          <img mat-card-image
               src="https://img.freepik.com/premium-vector/cute-cat-dog-flat-design-illustration_723554-122.jpg"
               alt="Photo of a Shiba Inu">
      <div class="card-info">
        <h1>Animals Classification</h1>
        <h2>Keras, Computer Vision</h2>
        <p>Fine-tuning the XCeption Model using Keras and Data augmentation to classify animals.</p>
      </div>

    </div>

  </div>

  <p>1</p>
</div>



