$background-color:rgb(230, 230, 230);
.all_projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px){
  .all_projects{
    display: grid;
    grid-template-columns: 100%;
    align-self: center;
  }
}

.card{
  //max-width: 70%;
  max-width: 25%;
  border: solid;
  border-color: transparent;
  border-radius: 2rem;
  //margin-top: 5em;
  margin: 2em 2em;
  background-color: $background-color;
  border-width: 0;
  &:hover{
    background-color: darken($background-color,5%);
  }
}
@media only screen and (max-width: 768px){
  .card{
    max-width: 100%;
    margin: 5em 2em;
  }
}
.card-info{
  padding: 0 5%;
  margin-bottom: 5%;

}
.card-header{
  display: grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 5%;
}
h1{
  font-size: large;
}
h2{
  font-size: medium;
}
h1, h2, p, mat-icon{
  margin: 0;
  color: black;
}
p{
  margin-bottom: 5%;
}
.icon{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.image{
  width: 48px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  //border: solid;
  //border-color: red;
  border-radius: 50%;
  overflow: hidden;
  //margin: 1em 1em;
}
//.image{
//  border-radius: 50px;
//}
.big-image{
  //object-fit: cover;
  object-fit: scale-down;
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
  //max-height: 200px;
}
