.all_projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card{
  max-width: 70%;
  border: solid;
  border-color: transparent;
  border-radius: 2rem;
  margin-top: 5em;
  background-color: rgb(230, 230, 230);
  border-width: 0;
}
.card-info{
  padding: 0 10%;
  margin-bottom: 5%;

}
.card-header{
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 5%;
}
h1, h2, p, mat-icon{
  margin: 0;
  color: black;
}
p{
  margin-bottom: 5%;
}
.icon{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
img{
  //object-fit: cover;
  object-fit: scale-down;
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
  //max-height: 200px;
}
.left, .right{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
