<div class="all_projects">
  <div
    *ngFor="let project of projects"
    class="card"
  >
    <img alt="{{project.titre}}"
         class="big-image"
         mat-card-image
         src="{{project.image}}">
    <div class="card-info">
      <div class="card-header">
        <div class="icon">
          <mat-icon>{{ project.icon }}</mat-icon>
        </div>
        <div class="title">
          <h1>{{ project.titre }}</h1>
          <h2>{{ project.tags.join(", ") }}</h2>
        </div>
      </div>
      <p>{{ project.description }}</p>
      <!--      <button-->
      <!--        mat-button-->
      <!--        [routerLink]="[project.id]"-->
      <!--      (click)="startProgressBar($event)">See Demo</button>-->
      @if (project.gradio !== "") {
        <a mat-button
           [href]="project.gradio"
           color="primary"
           target="_blank">See Demo</a>
      }
      <a [href]="project.code"
         mat-button
         color="primary"
         target="_blank">See Code</a>
    </div>
  </div>
</div>


