<div class="all_projects">
  <div class="left">
    <div class="card">
          <img mat-card-image
               src="https://img.freepik.com/premium-vector/cute-cat-dog-flat-design-illustration_723554-122.jpg"
               alt="Photo of a Shiba Inu">
      <div class="card-info">
        <div class="card-header">
          <div class="icon">
            <mat-icon>compare</mat-icon>
          </div>
          <div class="title">
            <h1>Animals Classification</h1>
            <h2>Keras, Computer Vision</h2>
          </div>
        </div>
        <p>Fine-tuning the XCeption Model using Keras and Data augmentation to classify animals.</p>
        <button mat-button>See Demo</button>
        <button mat-button>GitHub</button>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="card">
      <img mat-card-image
           src="https://img.freepik.com/premium-vector/cute-cat-dog-flat-design-illustration_723554-122.jpg"
           alt="Photo of a Shiba Inu">
      <div class="card-info">
        <div class="card-header">
          <div class="icon">
            <mat-icon>compare</mat-icon>
          </div>
          <div class="title">
            <h1>Animals Classification</h1>
            <h2>Keras, Computer Vision</h2>
          </div>
        </div>
        <p>Fine-tuning the XCeption Model using Keras and Data augmentation to classify animals.</p>
        <button mat-button>See Demo</button>
        <button mat-button>GitHub</button>
      </div>
    </div>
  </div>
</div>



